/* UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, .4);
}

.filler {
    width: 100%;
    height: 100%;
    background: rgba(182, 62, 62, 0.4);
}

.p5 {
    padding: 5px;
}

/* Typography */

.t-left {
    text-align: left;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}



/* STILE */

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Blocco Centrale */

.main-window {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}


/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
    background: #000000;
}


.sidebar .sidebar-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.sidebar .sidebar-menu .box-logo {
    flex-basis: 10%;
}

.sidebar .sidebar-menu .nav-1 {
    flex-basis: 20%;
}

.sidebar .sidebar-menu .nav-2 {
    flex-basis: 40%;
}

.sidebar .account {
    flex-basis: 10%;
}




/* Player */

footer.player {
    background: #272727;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.player .box-left,
footer.player .box-right {
    flex-basis: 200px;
    height: 40px;
}

footer.player .box-center {
    flex-basis: 400px;
    height: 40px;
}




/* MEDIA QUERIES */

