/* UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, .4);
}

.filler {
    width: 100%;
    height: 100%;
    background: rgba(182, 62, 62, 0.4);
}

.p5 {
    padding: 5px;
}

/* Typography */

.t-left {
    text-align: left;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}



/* LAYOUT */

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* BLOCCO CENTRALE */

.main-window {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}


/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
    background: #000000;
}


.sidebar .sidebar-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.sidebar .sidebar-menu .box-logo {
    flex-basis: 10%;
}

.sidebar .sidebar-menu .nav-1 {
    flex-basis: 20%;
}

.sidebar .sidebar-menu .nav-2 {
    flex-basis: 40%;
}

.sidebar .account {
    flex-basis: 10%;
}


/* Contenuto Pagina */

.page-content {
    background: #141921;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

/* Barra Iniziale */

.page-content .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(100, 50, 0, .5);
    z-index: 1;
}

.page-content .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 90px 15px 30px;
}

/* Scrollable Content Specifics */

.scrollable .scrollable-content {
    display: flex;
    flex-direction: column;
}

.page-content .scrollable-content .menu-bar {
    height: 100px;
    width: 100%;
    background: #eee;
    color: #1f1f1f;
    margin-bottom: 30px;
}

.page-content .scrollable-content .category {
    margin-bottom: 30px;
}

.page-content .scrollable-content .category h3 {
}

.category .album-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.album-box {
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    height: 300px; /*Debug*/
    background: #ccc;
}

/* PLAYER */

footer.player {
    background: #272727;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer.player .box-left,
footer.player .box-right {
    flex-basis: 200px;
    height: 40px;
}

footer.player .box-center {
    flex-basis: 400px;
    height: 40px;
}




/* MEDIA QUERIES */

